<!DOCTYPE html>
<html lang="en">
  <head>

    <% include templ/head.ejs %>


  </head>
  <body>

    <% include templ/header.ejs %>
    <div id="hero-image-notFound">
      <h1 id="hero-title"><%= title %></h1>
    </div>



    <% include templ/footer.ejs %>
    <% include templ/scripts.ejs %>

  </body>
</html>
